@import "bootstrap";

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  overflow-y: scroll
}

body{
  padding-top: 40px;
}

section{
  overflow: auto
}

textarea {
  resize: vertical
}

.center {
  text-align: center;
}

.center h1{
  margin-bottom: 10px;
}

.thumbnails{

  margin-left: 0.5px;
  margin-right: 0.5px;
}


.thumbnails h3{
  text-align: center;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #fff;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #fff;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fff;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.welcome
  {
  color: #ffffff;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

body{
  color: #fff;
  background: url('background.jpg');
  text-align: center;
}

aside{
  margin-top: 20px;
  section{
    padding: 10px 0;
    border-top:1px solid #696969;
    &:first-child{
      border: 0;
      padding-top: 0;

    }
    span{
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1{
      font-size: 2em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;

    }
  }
}
.gravatar{
  float: left;
  margin-right: 10px;
}

input, textarea, select, .uneditable-input {
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}


#error_explanation {
  color: #f00;
  ul{
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors{
  @extend .control-group;
  @extend .error;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}