<li>
  <h3>Movie: <span class="Movie Name"><%=  review.movie_name %></span> </h3>
  <br>
  <h4>Review:</h4>
  <span class="content"><%= review.content %></span><br>

  <p>-------------------------------------------------------</p>
  <!--<span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </span> -->
</li>